<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add listing</title>
</head>
<body>
    <form method="post" action="/listings/<%=data._id%>?_method=PUT"  >
        <input name="listings[title]" value="<%=data.title%>" type="text">
        <br>
        <br>
        <textarea name="listings[description]" value="<%=data.description %>" type="text"><%=data.description %></textarea>
        <br>
        <br>
        <input name="listings[image]"  value="<%=data.image%>" type="text">
        <br>
        <br>
        <input name="listings[price]"  value="<%=data.price %>" type="number">
        <br>
        <br>
        <input name="listings[location]"  value="<%=data.location %>" type="text">
        <br>
        <br>
        <input name="listings[country]"  value="<%=data.country %>" type="text">
        <br>
        <button>add</button>
    </form>
</body>
</html>