<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See the Property</title>
</head>
<body>
    <h1>Listing Detail</h1>
    <h2><%= data.title %></h2>
    <p><%= data.description %></p>
    <!-- <img src="<%= data.image %>"> -->
    <p>Price:&#8377;<%= data.price.toLocaleString("en-IN")%></p>
    <p>Location:<%=data.location %>,<%=data.country%></p>
    <a href="/listings/<%=data._id%>/Edit">Edit this Route</a>
    <form method="post" action="/listings/<%=data._id%>/Delete?_method=PATCH">
        <button>Delete Thid Route</button>
    </form>
</body>
</html>